*{
	margin: 0;
	padding: 0;
	font-family: "Playwrite AU VIC", cursive;
}
section {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.media-card{
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 0 30px 30px 30px;
	border-radius: 5px;
	align-items: center;
}
.media-card h1{
	line-height: 70px;
	font-size: 40px;
}
.media-card .btn{
	width: fit-content;
	padding: 10px;
	border: none;
	background: none;
	cursor: pointer;
	transition: color 4s;
	border-radius: 4px;
	transition: color 4s;
	transition: background-color 2s;
	background-color: #DBD5B5;
	font-size: 20px;
}
.media-card .btn:hover{
	background-color: red;
	color: white;
	border-radius: 4px;
}
.media{
	color: white;
	background-color: red;
	border-radius: 5px;
	font-size: 20px;
	padding: 7px;
}